<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Profile</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <style>
    body{
      color:whitesmoke;
      background-color: #17202a
    }
    .btndiv{
      background-color:  #d6eaf8
    }
    .btm{
      min-width: 120rem;
    }
  </style>
</head>
<body>
<H1>Successfully longed In Yo</H1>
<div align="center">
  <table border="1" class="table table-dark table-hover">
    <thead>
    <tr class="table-info">
      <th>ID</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>User Type</th>
      <th>Email Verification</th>
      <th>Locked</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="Users : ${Users}" >
      <td th:text="${Users.getId()}"></td>
      <td th:text="${Users.getFirstName()}"></td>
      <td th:text="${Users.getLastName()}"></td>
      <td th:text="${Users.getUsername()}"></td>
      <td th:text="${Users.getAppUserRole()}"></td>
      <td th:text="${Users.getEnabled()}"></td>
      <td th:text="${Users.getLocked()}"></td>
    </tr>
    </tbody>
  </table>
  <div class="btndiv" >
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <a href="/logout" class="btn btn-outline-info">Logout</a>
        </div>
        <div class="col col-lg-2">
          <a href="/" class="btn btn-outline-dark">Index</a>
        </div>
        <div class="col col-lg-2">
          <a href="/alluser" class="btn btn-outline-dark">All User</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>