<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>All Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        body{
            color:whitesmoke;
            background-color: #17202a
        }
        .btndiv{
            background-color:  #d6eaf8
        }
        .btm{
            min-width: 120rem;
        }
    </style>
</head>
<body>
<h1>All Users</h1>
<div align="center">
    <table border="1" class="table table-dark table-hover">
        <thead>
        <tr class="table-info">
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>User Type</th>
            <th>Email Verification</th>
            <th>Locked</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="listUsers : ${listUsers}" >
            <td th:text="${listUsers.getId()}"></td>
            <td th:text="${listUsers.getFirstName()}"></td>
            <td th:text="${listUsers.getLastName()}"></td>
            <td th:text="${listUsers.getUsername()}"></td>
            <td th:text="${listUsers.getAppUserRole()}"></td>
            <td th:text="${listUsers.getEnabled()}"></td>
            <td th:text="${listUsers.getLocked()}"></td>
            <td><a th:href="@{/showFormForUpdate/{email}(email=${listUsers.getUsername()})}" class="btn btn-primary">Update</a>
            <a th:href="@{/deleteUser/{id}(id=${listUsers.getId()})}" class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <div class="btndiv" >
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
        <a href="/profile" class="btn btn-outline-success">My Profile</a>
            </div>
            <div class="col col-lg-2">
        <a href="/" class="btn btn-outline-dark">Index</a>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
<div class="btm container my-1">
    <footer class="bg-dark text-center text-lg-start text-white">
        <div class="container p-4">
            <div class="row mt-1">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">See other books</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>Bestsellers</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>All books</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white"><i class="fas fa-user-edit fa-fw fa-sm me-2"></i>Our authors</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Execution of the contract</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-white"><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>Supply</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white"><i class="fas fa-backspace fa-fw fa-sm me-2"></i>Returns</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white"><i class="far fa-file-alt fa-fw fa-sm me-2"></i>Regulations</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white"><i class="far fa-file-alt fa-fw fa-sm me-2"></i>Privacy policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Publishing house</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-white">The BookStore</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">123 Street</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">05765 NY</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white"><i class="fas fa-briefcase fa-fw fa-sm me-2"></i>Send us a book</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Write to us</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-white"><i class="fas fa-at fa-fw fa-sm me-2"></i>Help in purchasing</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white"><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>Check the order status</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white"><i class="fas fa-envelope fa-fw fa-sm me-2"></i>Join the newsletter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2021 Copyright:
            <a class="text-white" href="#">Sams.DSi</a>
        </div>
    </footer>
</div>

</html>